header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
  & a {
    font-size: 1.5rem;
    font-weight: bold;
    text-decoration: none;
    display: block;
    color: white;

    &:hover {
      color: #9dd857;
    }
  }
  & ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    & li {
      padding: 1rem;
    }
  }
}
