header {
  grid-area: header;
  display: flex;
  justify-content: space-between;
  align-items: center;
  & a {
    font-size: 1.5rem;
    text-decoration: none;
    display: block;
    color: #dff5ce;

    &:hover {
      color: #86b049;
    }
  }
  & ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    & li {
      padding: 1rem;
    }
  }
}
