* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: arial;
  color: #252525;
  width:100%;
}

.siteLayout {
  background-position: top center;
  background-repeat: repeat-y;
  background-size: cover;
  z-index: 10;
  width:100vw;

  & .backdrop {
    display: grid;
    grid-template-rows: 3rem auto 3rem;
    grid-template-columns: auto;
    height: 100vh;
    width: 100%;
    z-index: 20;
    background-color: rgba(0, 0, 0, 0.5);
  }

  & main {
    z-index: 30;
    font-size: 1.2rem;
    text-align: center;
    display: grid;
    justify-content: center;
    width:100%;

    & .main-text {
      align-self: center;
      color:#fff;
      z-index: 30;
      margin: 1rem;
    }
    & a {
      z-index: 30;
      display: block;
      justify-self: center;
      align-self: center;
      text-decoration: none;
      color: #000;
      margin-top: 0.5rem;
      padding: 0.5rem 3rem;
      border-radius: 5px;
      background-color: #d5d5d5;
      &:hover{
        background-color: #e5e5e5;
      }
    }
  }

  & footer {
    z-index: 30;
    font-size: 1.2rem;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
