//$primary-btn-color:
//$secondary-btn-color:
//$primary-text-color:
//$secondary-text-color:

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  background-color: #7c7d7e;
  font-family: arial;
  color: #252525;
  width: 100%;
  height: 100vh;
}

.siteLayout {
  background-position: top center;
  background-repeat: repeat-y;
  background-size: cover;
  z-index: 10;
  width: 100%;
  height: 100%;

  & .backdrop {
    display: grid;
    grid-template-rows: 1fr 2rem;
    grid-template-columns: auto;
    grid-template-areas:
      "main"
      "footer";
    height: 100vh;
    width: 100%;
    z-index: 20;
    background-color: rgba(0, 0, 0, 0.6);
    justify-content: center;
  }

  & main {
    grid-area: main;
    z-index: 30;
    font-size: 1.2rem;
    text-align: center;
    display: grid;
    justify-content: center;
    width: 100%;
    max-width: 60rem;

    & .main-text {
      align-self: center;
      color: #fff;
      z-index: 30;
      margin: 1rem;
      display: grid;
      align-items: center;
      justify-items: center;
    }

    & h1 {
      font-size: 4rem;
    }

    & h3 {
      font-size: 2rem;
    }

    & .main-btn {
      font-size: 2rem;
      width: fit-content;
      z-index: 30;
      display: block;
      align-self: center;
      color: white;
      font-weight: bold;
      margin-top: 1rem;
      padding: 0.5rem 3rem;
      border-radius: 10px;
      text-align: center;
      border: none;
      outline: none;
      filter: drop-shadow(0 0 0.2rem #222);
      background-color: #6fcc02;
      &:hover {
        background-color: #9dd857;
      }
    }
  }

  & footer {
    z-index: 30;
    font-size: 1.2rem;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
