.container {
  & .search-bar {
    grid-area: search;
    width: 100%;
    height: 2.5rem;
    padding-left: 0.5rem;
    border-radius: 10px;
    border: none;
    outline: none;
    font-size: 1rem;
    filter: drop-shadow(0 0 0.2rem #222);
  }

  & .new-note {
    grid-area: new-note;
    justify-self: end;
    height: 2.5rem;
    width: 5rem;
    border-radius: 10px;
    background-color: white;
    color: black;
    font-size: 1rem;
    text-align: center;
    border: none;
    outline: none;
    filter: drop-shadow(0 0 0.2rem #222);
    &:hover {
      background-color: #d5d5d5;
    }
  }
  & .aside {
    grid-area: aside;
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: auto;
    grid-template-rows: 5rem;
    grid-row-gap: 0.5rem;
    align-content: start;
    
    & div {
      width: 100%;
      height: 100%;
      background-color: white;
      color: black;
      filter: drop-shadow(0 0 0.2rem #222);
      border-radius: 10px;
      text-align: center;
      display: grid;
      grid-template-columns: auto 2rem;
      grid-template-rows: 2rem auto;
      grid-template-areas:
        "title delete"
        "textarea textarea";

      & h4 {
        grid-area: title;
        font-size: 1.2rem;
        font-weight: bold;
        overflow: hidden;
        align-self: center;
        text-align: left;
        justify-self: start;
        width: 100%;
        padding-left: 0.5rem;
      }

      & .delete-btn {
        grid-area: delete;
        align-self: center;
        justify-self: center;
        font-size: 1rem;
        color: black;
        width: 100%;
        padding: 3px;
      }

      & textarea {
        grid-area: textarea;
        border: none;
        background-color: transparent;
        resize: none;
        outline: none;
        font-family: arial;
        width: 100%;
        height: 3rem;
        justify-self: start;
        color: black;
        padding-left: 0.5rem;
      }
    }
  }

  & .main {
    grid-area: main;
    display: grid;
    width: 100%;
    grid-template-rows: 3rem 10rem 2rem;
    grid-template-columns: auto;
    grid-template-areas:
      "note-title"
      "note"
      "submit";
    grid-row-gap: 0.5rem;

    & .note-title {
      width: 100%;
      grid-area: note-title;
      border-radius: 10px;
      background-color: white;
      border: none;
      outline: none;
      font-family: arial;
      padding-left: 0.5rem;
      font-weight: bold;
      filter: drop-shadow(0 0 0.2rem #222);
    }

    & .note {
      grid-area: note;
      border: none;
      background-color: transparent;
      resize: none;
      outline: none;
      font-family: arial;
      width: 100%;
      border-radius: 10px;
      background-color: white;
      padding: 0.5rem;
      filter: drop-shadow(0 0 0.2rem #222);
    }

    & .submitBtn {
      grid-area: submit;
      border: none;
      outline: none;
      border-radius: 10px;
      background-color: white;
      filter: drop-shadow(0 0 0.2rem #222);
    }
  }
}

@media only screen and (max-width: 767px) {
  .container {
    display: grid;
    width: 100vw;
    padding: 0.5rem;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto;
    grid-row-gap: 0.5rem;
    grid-template-areas:
      "search new-note"
      "main main"
      "aside aside";
    align-content: start;

    .search-bar {
      width: 4rem;
      &:focus {
        width: 100%;
      }
    }
  }
}

@media only screen and (min-width: 768px) {
  .container {
    display: grid;
    width: 100vw;
    padding: 0.5rem;
    grid-template-columns: minmax(15rem, 1fr) 3fr;
    grid-template-rows: 3rem auto;
    grid-column-gap: 0.5rem;
    grid-row-gap: 0.5rem;
    grid-template-areas:
      "search new-note"
      "aside main";
  }
}
